
::-webkit-scrollbar {
	width: 0;
}

::selection {
	background: transparent;
}

::-moz-selection {
	background: transparent;
}

body, html {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	font-family: "Roboto";
	justify-content: center;
}

b {
	font-weight: 300;
}

.Body {
	max-width: 640px;
	max-height: 1200px;
	position: absolute;
	display: block;
	overflow-y: auto;
	right: 20rem;
}

.Container {
	margin: 1rem;
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#fixedtitle:hover, .normalbutton:hover {
	color: #fff;
	background: rgba(3, 29, 78, 0.75);
}

#fixedtitle {
	font-family: "Evermore";
	border: 1px solid rgb(0, 81, 255);
	color: #ccc;
	outline: none;
	display: block;
	font-size: 25px;
	margin-top: -450px;
	right: -20.2rem;
	text-align: center;
	min-height: 30px;
	border-color: rgb(0, 81, 255);
	color: rgb(255, 255, 255);
	-webkit-text-stroke: #c8dfff;
	max-height: 58px;
	width: 250px; /* Set the width to 120px */
	height: 28px; /* Set the height to 28px */
	box-sizing: content-box; /* Ensure padding is not included in width and height */
	margin-bottom: 5px;
	position: relative;
	border-radius: 15px;
	padding: 15px 15px; /* Adjusted padding values */
	background: rgba(0, 20, 85, 0.75);
	align-items: center;
	line-height: 28px; /* Added line-height to vertically center text */
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	
}

.btn {
	color: #ccc;
	outline: none;
	display: block;
	font-size: 16px;
	min-height: 30px;
	border-color: rgb(0, 81, 255);
	color: rgb(255, 255, 255);
	-webkit-text-stroke: #c8dfff;
	max-height: 58px;
	min-width: 280px;
	margin-bottom: 5px;
	position: relative;
	border-radius: 15px;
	padding: 20px 20px 20px 15px;
	background: rgba(15,15,15,0.75);
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.btn:hover, .normalbutton:hover {
	color: #fff;
	background: rgba(3, 29, 78, 0.75);
	-webkit-animation: heartbeat 1.5s ease-in-out 1s infinite both;
	        animation: heartbeat 1.5s ease-in-out 1s infinite both;
}

.title {
	float: left;
	font-size: 15px;
	margin-top: -9px;
	text-align: left;
	letter-spacing: 2px;
}

.description {
	color: #999;
	font-size: 11px;
	margin-top: 13px;
	text-align: left;
	letter-spacing: 0.8px;
}

.btn:hover .description, .normalbutton:hover .description {
	color: #c8dfff;
}

.btn:hover .title2 {
	color: #fff;
}
.btn:hover .title {
	color: #fcd111;
}

.description yellow, .description b {
	color: rgb(35, 89, 206);
}

.normalbutton {
	color: #ccc;
	display: block;
	font-size: 16px;
	cursor: default;
	min-width: 243px;
	margin-bottom: 5px;
	position: relative;
	border-radius: 4px;
	padding: 20px 20px 12px 14px;
	background: rgba(15,15,15,0.75);
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.amarelo {
	color: #fff;
	color: #362d09;
	background: #e1bc29;
	border-radius: 15px;
}

.amarelo:hover, .amarelo:hover .description {
	color: #001763;
	background: rgb(35, 89, 206);
	border-radius: 15px;
	border: #002863;
}

.amarelo .description {
	color: #79692a;
	background: #e1bc29;
}
/*----------------------------------------------------------------
	FONT FAMILY AND
	FONT STYLE
/*----------------------------------------------------------------
/**------------------------VAMBOOOOOOOORA FILHOOOOOOOOOOOOOOOO!!!!!!!! */ /*
*/
@import url("http://fonts.cdnfonts.com/css/akrobat");

@font-face {
  font-family: 'Evermore';
  src: url("Evermore.ttf") format("truetype");

}

@font-face {
  font-family: 'akuma';
  src: url("AKUMA-DEMO.ttf") format("truetype");

}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-22 10:9:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
 @-webkit-keyframes jello-diagonal-2 {
	0% {
	  -webkit-transform: skew(0deg 0deg);
			  transform: skew(0deg 0deg);
	}
	30% {
	  -webkit-transform: skew(-25deg -25deg);
			  transform: skew(-25deg -25deg);
	}
	40% {
	  -webkit-transform: skew(15deg, 15deg);
			  transform: skew(15deg, 15deg);
	}
	50% {
	  -webkit-transform: skew(-15deg, -15deg);
			  transform: skew(-15deg, -15deg);
	}
	65% {
	  -webkit-transform: skew(5deg, 5deg);
			  transform: skew(5deg, 5deg);
	}
	75% {
	  -webkit-transform: skew(-5deg, -5deg);
			  transform: skew(-5deg, -5deg);
	}
	100% {
	  -webkit-transform: skew(0deg 0deg);
			  transform: skew(0deg 0deg);
	}
  }
  @keyframes jello-diagonal-2 {
	0% {
	  -webkit-transform: skew(0deg 0deg);
			  transform: skew(0deg 0deg);
	}
	30% {
	  -webkit-transform: skew(-25deg -25deg);
			  transform: skew(-25deg -25deg);
	}
	40% {
	  -webkit-transform: skew(15deg, 15deg);
			  transform: skew(15deg, 15deg);
	}
	50% {
	  -webkit-transform: skew(-15deg, -15deg);
			  transform: skew(-15deg, -15deg);
	}
	65% {
	  -webkit-transform: skew(5deg, 5deg);
			  transform: skew(5deg, 5deg);
	}
	75% {
	  -webkit-transform: skew(-5deg, -5deg);
			  transform: skew(-5deg, -5deg);
	}
	100% {
	  -webkit-transform: skew(0deg 0deg);
			  transform: skew(0deg 0deg);
	}
  }
  
 @-webkit-keyframes shake-bottom {
	0%,
	100% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	10% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: rotate(-4deg);
			  transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
	  -webkit-transform: rotate(4deg);
			  transform: rotate(4deg);
	}
	80% {
	  -webkit-transform: rotate(-2deg);
			  transform: rotate(-2deg);
	}
	90% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
  }
  @keyframes shake-bottom {
	0%,
	100% {
	  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	}
	10% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  -webkit-transform: rotate(-4deg);
			  transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
	  -webkit-transform: rotate(4deg);
			  transform: rotate(4deg);
	}
	80% {
	  -webkit-transform: rotate(-2deg);
			  transform: rotate(-2deg);
	}
	90% {
	  -webkit-transform: rotate(2deg);
			  transform: rotate(2deg);
	}
  }
  
 @-webkit-keyframes flip-in-hor-bottom {
	0% {
	  -webkit-transform: rotateX(80deg);
			  transform: rotateX(80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  opacity: 1;
	}
  }
  @keyframes flip-in-hor-bottom {
	0% {
	  -webkit-transform: rotateX(80deg);
			  transform: rotateX(80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  opacity: 1;
	}
  }
  