* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "akrobat-bold";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
}

@media (max-width: 1600px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1366px) {
  html {
    font-size: 68%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 65%;
  }
}
@font-face {
  font-family: "akrobat";
  src: url("../assets/akrobat/Akrobat-light.otf");
}
@font-face {
  font-family: "akrobat-bold";
  src: url("../assets/akrobat/Akrobat-Bold.otf");
}
@font-face {
  font-family: "akrobat-super-bold";
  src: url("../assets/akrobat/Akrobat-ExtraBold.otf");
}
@font-face{
  font-family: 'nordestina';
  src: url('../assets/akrobat/xilosa.ttf')
}
    body {
  font-family: 'Nordestina', sans-serif;
  }
button {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  font-family: "poppins";
  cursor: pointer;
}

.audio {
  display: none;
}

.hotbar{
  width: 100%;
  height: 6rem;
  position: absolute;
  bottom: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.hotbar ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30rem;
}

.hotbar ul li{
  height: 6rem;
  width: 6rem;
  background-color: rgba(0, 0, 0, 0.3490196078);
  border: 1px solid rgba(0, 0, 0  , 0.0196078431);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem 0.16rem;
}

.hotbar ul li .slot{
  height: 90%;
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.1490196078);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hotbar ul li .slot img{
  height: 90%;
  width: 90%;
  object-fit: contain;
}

body {
  background-color: transparent;
}

.logoMain {
  position: absolute;
  width: 100vw;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1rem;
}
.logoMain img {
  height: 7rem;
  width: 7rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.inventory {
  height: 100vh;
  width: 100%;
  background: 
    linear-gradient(180deg, rgba(71, 7, 63, 0.3), rgba(255, 0, 200, 0.027)), /* Gradiente separado */
    url('https://i.postimg.cc/0yq0dmCr/background-9073596e.png'); /* Caminho para a sua imagem */
  background-size: cover; /* Garante que a imagem de fundo cubra todo o elemento */
  background-position: center; /* Centraliza a imagem de fundo */
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo (semi-transparente preta) */
  background-blend-mode: overlay; /* Mescla a cor de fundo com a imagem e o gradiente */
  overflow: hidden;
  display: none;
  position: relative; /* Necessário para posicionar o pseudo-elemento, se precisar */
}


.inventory header {
  width: 90%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 4.5rem;
}
.inventory header .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory header .infos .avatar {
  height: 5.625rem;
  width: 5.8rem;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.4rem;
}
.inventory header .infos-item {
  margin: 0 0.5rem;
}
.inventory header .infos-details {
  margin-left: 1rem;
}
.inventory header .infos-details h4 {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory header .infos-details h1 {
  color: #FFF;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inventory header .infos-details .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.inventory header .exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory header .exit .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 15rem;
}
.inventory header .exit .item select {
  border-radius: 5px;
  border: 1px solid #FFF;
  background: linear-gradient(103deg, #FFF 0%, #CCC 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.45rem 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}
.inventory header .exit h3 {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 1rem;
}
.inventory header .exit .close {
  border-radius: 5px;
  border: 1px solid #FFF;
  background: linear-gradient(103deg, #FFF 0%, #CCC 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.45rem 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main {
  width: 90%;
  height: 41rem;
  margin: 0 auto;
  margin-top: 4.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory main .hotkeys {
  height: 100%;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .hotkeys .indices {
  height: 90%;
  width: 30%;
}
.inventory main .hotkeys .indices .item {
  height: 5.75rem;
  width: 2rem;
  margin: 2rem 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .hotkeys .indices .item .number {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6px;
  border: 1px solid #f63bb8;
  background: linear-gradient(135deg, #f63bb8 0%, #8a0d60 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
          box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: "nordestina";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .hotkeys ul {
  height: 90%;
  width: 70%;
}
.inventory main .hotkeys ul li {
  height: 5.625rem;
  width: 5.625rem;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.0196078431);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0.16rem;
  cursor: pointer;
}
.inventory main .hotkeys ul li .slot {
  height: 90%;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.inventory main .hotkeys ul li .slot img {
  height: 85%;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .hotkeys ul li .slot .durability-container {
  width: 100%;
  position: absolute;
  bottom: 0.3rem;
  width: 3.125rem;
  height: 0.188rem;
}
.inventory main .hotkeys ul li .slot .durability-container .durability {
  position: absolute;
  bottom: 0.1rem;
  width: 3.125rem;
  height: 0.188rem;
  background-color: rgba(246, 59, 184, 0.3019607843);
  border-radius: 1.3rem;
}
.inventory main .hotkeys ul li .slot .durability-container .durability-progress {
  height: 100%;
  width: 50%;
  background-color: #f63bb8;
  border-radius: 1.3rem;
}
.inventory main .hotkeys ul li .details {
  width: 13.75rem;
  display: none;
  max-height: 10.625rem;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgb(0, 0, 0);
  padding: 1rem;
  position: absolute;
  z-index: 1000;
}
.inventory main .hotkeys ul li .details .header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .hotkeys ul li .details .header-details .weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .hotkeys ul li .details .header-details .weight h3 {
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .hotkeys ul li .details .header-details .weight img {
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.3rem;
}
.inventory main .hotkeys ul li .details .header-details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .hotkeys ul li .details .header-details .title h1 {
  color: #FFF;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inventory main .hotkeys ul li .details .header-details .title h4 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.3rem;
}
.inventory main .hotkeys ul li .details p {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.inventory main .divider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2rem;
}
.inventory main .divider .bar {
  width: 1px;
  height: 12.5rem;
  background: rgba(255, 255, 255, 0.1);
}
.inventory main .divider .first-bar {
  margin-top: 3rem;
}
.inventory main .divider h1 {
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: "nordestina";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.inventory main .itensList {
  height: 100%;
  width: 44.125rem;
}
.inventory main .itensList .header-itens {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .itensList .header-itens .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory main .itensList .header-itens .title .logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #f63bb8;
  background: linear-gradient(135deg, #f63bb8 0%, #8a0d60 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
          box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .itensList .header-itens .title .logo img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .itensList .header-itens .title .infos {
  margin-left: 1rem;
}
.inventory main .itensList .header-itens .title .infos h3 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.inventory main .itensList .header-itens .title .infos h1 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inventory main .itensList .header-itens .weight {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .itensList .header-itens .weight-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.inventory main .itensList .header-itens .weight-bars .weight-bar {
  width: 0.33rem;
  height: 1.25rem;
  background: rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.3rem;
  margin: 0 0.2rem;
}
.inventory main .itensList .header-itens .weight-bars .active {
  background: #f63bb8;
}
.inventory main .itensList .header-itens .weight h4 {
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 1rem;
}
.inventory main .itensList .header-itens .weight h4 span {
  color: #FFF;
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inventory main .itensList .header-itens .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .itensList .header-itens .options {
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}
.inventory main .itensList .header-itens input {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 30.5%, rgba(255, 255, 255, 0.04) 100%);
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.inventory main .itensList .header-itens button {
  width: 48%;
  margin-bottom: 1rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 30.5%, rgba(255, 255, 255, 0.05) 100%);
}
.inventory main .itensList .header-itens button img {
  height: 1.5rem;
  width: 1.5rem;
}
.inventory main .itensList .header-itens button h2 {
  color: rgba(255, 255, 255, 0.4);
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .itensList .header-itens button .send {
  color: #FFF;
}
.inventory main .itensList ul {
  width: 43.125rem;
  max-width: 43.125rem;
  height: 36.925rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 0.5rem 0 0;
  margin-top: 1rem;
}
.inventory main .itensList ul::-webkit-scrollbar {
  width: 0.5rem;
}
.inventory main .itensList ul::-webkit-scrollbar-thumb {
  background: #f63bb8;
  border-radius: 0.3rem;
}
.inventory main .itensList ul::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.3rem;
}
.inventory main .itensList ul li {
  height: 5.625rem;
  width: 5.625rem;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.0196078431);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0.16rem;
  cursor: pointer;
}
.inventory main .itensList ul li .slot {
  height: 90%;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.inventory main .itensList ul li .slot img {
  height: 85%;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .itensList ul li .slot .durability-container {
  width: 100%;
  position: absolute;
  bottom: 0.3rem;
  width: 3.125rem;
  height: 0.188rem;
}
.inventory main .itensList ul li .slot .durability-container .durability {
  position: absolute;
  bottom: 0.1rem;
  width: 3.125rem;
  height: 0.188rem;
  background-color: rgba(246, 59, 184, 0.3019607843);
  border-radius: 1.3rem;
}
.inventory main .itensList ul li .slot .durability-container .durability-progress {
  height: 100%;
  width: 50%;
  background-color: #f63bb8;
  border-radius: 1.3rem;
}
.inventory main .itensList ul li .details {
  width: 13.75rem;
  display: none;
  max-height: 10.625rem;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgb(0, 0, 0);
  padding: 1rem;
  position: absolute;
  z-index: 1000;
}
.inventory main .itensList ul li .details .header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .itensList ul li .details .header-details .weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .itensList ul li .details .header-details .weight h3 {
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .itensList ul li .details .header-details .weight img {
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.3rem;
}
.inventory main .itensList ul li .details .header-details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .itensList ul li .details .header-details .title h1 {
  color: #FFF;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inventory main .itensList ul li .details .header-details .title h4 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.3rem;
}
.inventory main .itensList ul li .details p {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.inventory main .itensList .btn-collection {
  height: 4.375rem;
  width: 42.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.inventory main .itensList .btn-collection button {
  width: 10rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 30.5%, rgba(255, 255, 255, 0.05) 100%);
}
.inventory main .itensList .btn-collection button img {
  height: 1.5rem;
  width: 1.5rem;
}
.inventory main .itensList .btn-collection button h2 {
  color: rgba(255, 255, 255, 0.4);
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .itensList .btn-collection button .send {
  color: #FFF;
}
.inventory main .itensList .btn-collection .guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}
.inventory main .itensList .btn-collection .guide .mouse {
  border-radius: 8px;
  border: 1px solid #f63bb8;
  background: linear-gradient(135deg, #f63bb8 0%, #8a0d60 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
          box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}
.inventory main .itensList .btn-collection .guide .mouse img {
  height: 1.375rem;
  width: 1.375rem;
}
.inventory main .itensList .btn-collection .guide .guide-text {
  margin-left: 0.5rem;
}
.inventory main .itensList .btn-collection .guide .guide-text h3 {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .itensList .btn-collection .guide .guide-text p {
  color: #FFF;
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inventory main .dropList {
  height: 100%;
  width: 18.25em;
  margin-left: 1rem;
  margin-right: 1rem;
}
.inventory main .dropList .header-itens {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .dropList .header-itens .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory main .dropList .header-itens .title .logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #f63bb8;
  background: linear-gradient(135deg, #f63bb8 0%, #8a0d60 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
          box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .dropList .header-itens .title .logo img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .dropList .header-itens .title .infos {
  margin-left: 1rem;
}
.inventory main .dropList .header-itens .title .infos h3 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.inventory main .dropList .header-itens .title .infos h1 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inventory main .dropList ul {
  width: 100%;
  height: 36.925rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}
.inventory main .dropList ul li {
  height: 5.625rem;
  width: 5.625rem;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.0196078431);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0.16rem;
  cursor: pointer;
}
.inventory main .dropList ul li .slot {
  height: 90%;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.inventory main .dropList ul li .slot img {
  height: 85%;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .dropList ul li .details {
  width: 13.75rem;
  display: none;
  max-height: 10.625rem;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgb(0, 0, 0);
  padding: 1rem;
  position: absolute;
  z-index: 1000;
}
.inventory main .dropList ul li .details .header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .dropList ul li .details .header-details .weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .dropList ul li .details .header-details .weight h3 {
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
  font-family: "nordestina";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inventory main .dropList ul li .details .header-details .weight img {
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0.3rem;
}
.inventory main .dropList ul li .details .header-details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .dropList ul li .details .header-details .title h1 {
  color: #FFF;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inventory main .dropList ul li .details .header-details .title h4 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.3rem;
}
.inventory main .dropList ul li .details p {
  color: rgba(255, 255, 255, 0.3);
  font-family: "nordestina";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.inventory main .clothes {
  height: 100%;
  width: 28.75em;
  margin-left: 1rem;
}
.inventory main .clothes .header-itens {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .clothes .header-itens .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inventory main .clothes .header-itens .title .logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #f63bb8;
  background: linear-gradient(135deg, #f63bb8 0%, #8a0d60 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
          box-shadow: 0px 0px 10px 0px rgba(212, 26, 135, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inventory main .clothes .header-itens .title .logo img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .clothes .header-itens .title .infos {
  margin-left: 1rem;
}
.inventory main .clothes .header-itens .title .infos h3 {
  color: rgba(255, 255, 255, 0.5);
  font-family: "nordestina";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.inventory main .clothes .header-itens .title .infos h1 {
  color: #f63bb8;
  font-family: "nordestina";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inventory main .clothes .main {
  width: 100%;
  height: 30.625rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inventory main .clothes .main ul {
  width: 6rem;
  height: 30.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.inventory main .clothes .main ul li {
  height: 5.625rem;
  width: 5.625rem;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.0196078431);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0.16rem;
  cursor: pointer;
}
.inventory main .clothes .main ul li .slot {
  height: 90%;
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.inventory main .clothes .main ul li .slot img {
  height: 85%;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.inventory main .clothes .main ul .active .slot {
  border: 1px solid #f63bb8;
}