@import url("https://gistcdn.githack.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://fonts.cdnfonts.com/css/akrobat");

@font-face {
	font-family: 'HC Icons Bold';
	font-style: normal;
	font-weight: 400;
	src: local('HC Icons Bold'), url(https://cdn.HC.gg/fonts/icons/bold/hc-icons-bold.ttf) format('ttf');
}

/* body {
	background-image: url("https://cdn.discordapp.com/attachments/634862353128751107/1142604411475075172/nve_screenshot6_1.png");
	opacity: 0.75;
} */

div.menuHolder {
	user-select: none;
	-moz-user-select: none;
	position: relative;
	margin: 10px;
}

svg.icons {
	display: none;
}

svg.menu {
	position: absolute;
	overflow: visible;
	transition: 0.2s;
	transition-timing-function: ease-out;
}

svg.menu.inner {
	transform: scale(0.66);
	opacity: 0;
	visibility: hidden;
}

svg.menu.outer {
	transform: scale(1.2);
	opacity: 0;
	visibility: hidden;
}

svg.menu>g>path {
	stroke-width: 0.5;
	stroke: #f63bb8;
	transition: 0.2s ease-in-out;
}

svg.menu>g.sector>path {
	cursor: pointer;
	/*transition: 0.1s;*/
}

svg.menu>g.sector>text,
svg.menu>g.sector>use,
svg.menu>g.center>text {
	cursor: pointer;
	fill: white;
	font-family: "Akrobat", sans-serif;
	font-weight: 700;
	/*text-shadow: 1px 1px 0 #000000A0;*/
}

svg.menu>g:hover>path {
	fill: rgba(2, 92, 55, 0.4) !important;
}

svg.menu>g.center:hover>circle {
	fill: rgba(2, 92, 55, 0.4) !important;
}

svg.menu>g.center>circle {
	cursor: pointer;
	stroke-width: 10px;
	stroke: transparent;
	fill: rgba(2, 92, 55, 0.4);
}

svg.menu>g.center>text,
svg.menu>g.center>use {
	cursor: pointer;
	fill: white;
}

svg.menu>g>foreignObject {
	pointer-events: none;

}

.action-icon {
	pointer-events: none;
}